<h1>Enter the ingredients here</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Add the ingredient", class: "btn btn-success" %>
<% end %>
